.login-box {
  padding: 100px 0;
  min-height: 100vh;
  width: 100%;
  background: #d2e9fb url(//s2.hdslb.com/bfs/static/blive/blfe-dynamic-web/static/img/background.bc725153.png) top/contain no-repeat;
  background-size: cover;
}